<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=1024, viewport-fit=cover">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png<%= it.cb %>">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png<%= it.cb %>">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png<%= it.cb %>">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Swift Developers Japan Discussion Archive" />
  <meta name="twitter:description" content="Swift Developers JapanのDiscordサーバーに投稿された過去の議論を閲覧・検索できます。" />
  <meta name="twitter:image"
    content="https://swift-developers-japan-discussion-archive.onrender.com/og.png<%= it.cb %>" />
  <meta name="twitter:site" content="@k_katsumi" />
  <meta property="og:image"
    content="https://swift-developers-japan-discussion-archive.onrender.com/fb.png<%= it.cb %>" />
  <meta property="og:url" content="https://swift-developers-japan-discussion-archive.onrender.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Swift Developers Japan Discussion Archive">
  <meta property="og:description" content="Swift Developers JapanのDiscordサーバーに投稿された過去の議論を閲覧・検索できます。" />
  <meta name="description" content="Swift Developers JapanのDiscordサーバーに投稿された過去の議論を閲覧・検索できます。" />
  <meta property="og:site_name" content="Swift Developers Japan Discussion Archive" />

  <title>Swift Developers Japan Discussion Archive</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/base16/solarized-light.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/css-skeletons@1.0.3/css/css-skeletons.min.css" />

  <link rel="stylesheet" href="/css/autocomplete.css<%= it.cb %>">
  <link rel="stylesheet" href="/css/discord.css<%= it.cb %>">
  <link rel="stylesheet" href="/css/style.css<%= it.cb %>">

  <script defer data-domain="archive.swiftdevelopers.jp" src="https://plausible.io/js/plausible.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div>
      <div class="columns">
        <nav class="column is-2 pr-0 has-background-white-bis">
          <div class="is-size-6 has-text-weight-semibold pl-4 pt-2 pb-3">
            <a class="has-text-dark" href="https://swift-developers-japan.github.io/" target="_blank"
              rel="nofollow noopener noreferrer">
              swift-developers-japan<span class="fa-regular fa-arrow-up-right-from-square fa-sm pl-2"></span>
            </a>
          </div>
          <div class="pl-4 pb-4" style="height: 100vh; overflow: scroll;">
            <aside class="menu">
              <% Object.keys(it.categories).forEach((categoryName) => { %>
              <p class="menu-label">
                <%= categoryName %>
              </p>
              <% it.categories[categoryName].forEach((channel) => { %>
              <ul class="menu-list">
                <li>
                  <a id="sidebar-<%= channel.channelId %>"
                    href="/channels/<%= channel.channelId %>?category=<%= channel.categoryName %>&channel=<%= channel.channelName %>">
                    <span class="fa-light fa-hashtag"></span>
                    <span class="px-1"><%= channel.channelName %></span>
                  </a>
                  <% if (channel.threads) { %>
                  <ul>
                    <details>
                      <summary>
                        <span class="fa-regular fa-message fa-sm"></span>
                        <span class="px-1">Thread</span>
                      </summary>
                      <% channel.threads.forEach((thread) => { %>
                      <li>
                        <a id="sidebar-<%= thread.channelId %>/<%= thread.id %>"
                          href="/channels/<%= thread.channelId %>/<%= thread.id %>?category=<%= thread.categoryName %>&channel=<%= thread.channelName %>">
                          <span class="fa-light fa-hashtag"></span>
                          <span class="px-1"><%= thread.channelName %></span>
                        </a>
                      </li>
                      <% }) %>
                    </details>
                  </ul>
                  <% } %>
                </li>
              </ul>
              <% }) %>
              <% }) %>

              <p class="menu-label">
                CREDIT
              </p>
              <ul class="menu-list">
                <li>
                  <a href="https://discord.com/invite/4Scjz4J" target="_blank" rel="nofollow noopener noreferrer">
                    <span class="fa-brands fa-discord"></span>
                    <span class="px-1">Join Our Server</span>
                  </a>
                </li>
                <li>
                  <a href="https://github.com/kishikawakatsumi/swift-developers-japan-discussion-archive/issues/new"
                    target="_blank" rel="nofollow noopener noreferrer">
                    <span class="fa-regular fa-comment-alt-smile"></span>
                    <span class="px-1">Feedback</span>
                  </a>
                </li>
                <li>
                  <a href="https://github.com/kishikawakatsumi/swift-developers-japan-discussion-archive"
                    target="_blank" rel="nofollow noopener noreferrer">
                    <span class="fa-brands fa-github"></span>
                    <span class="px-1">Source Code</span>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/k_katsumi" target="_blank" rel="nofollow noopener noreferrer">
                    <span class="fa-regular fa-at"></span>
                    <span class="px-1">Maintainer</span>
                  </a>
                </li>
              </ul>
            </aside>
          </div>
        </nav>

        <div class="column p-0">
          <div class="columns py-2 m-0" style="border-bottom: 2px solid hsl(0, 0%, 96%);">
            <div class="column pr-0 pb-0">
              <span class="fa-light fa-hashtag has-text-grey is-size-5"></span>
              <span id="header-channel-name" class="is-size-4 px-1"></span>
            </div>
            <div class="column pr-5 pb-0">
              <div id="autocomplete" class="is-pulled-right" style="min-width: 20vw;"></div>

              <div class="dropdown is-hoverable is-pulled-right px-2">
                <div class="dropdown-trigger">
                  <button class="button is-small px-4" aria-haspopup="true" aria-controls="dropdown-menu"
                    style="padding-top: 15px; padding-bottom: 16px;">
                    <span class="fa-regular fa-calendar-arrow-down is-size-6 px-1"></span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                    <span class="is-sr-only">Date Picker</span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div id="date-index-menu" class="dropdown-content" style="max-height: 80vh; overflow: scroll;">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="message-container" class="column" style="max-height: 100vh; overflow: auto;">
            <div id="content-messages-loader" class="pr-4">
              <div class="py-4" style="border-top: 1px solid #eceeef;">
                <div class="skeleton skeleton-circle-multi-line"
                  style="--c-s: 40px; --c-pos: top; --c-w: 100%; --c-p: 10px; --lines: 6; --l-h: 0.8rem; --l-gap: 14px;">
                </div>
              </div>
              <div class="py-4" style="border-top: 1px solid #eceeef;">
                <div class="skeleton skeleton-circle-multi-line"
                  style="--c-s: 40px; --c-pos: top; --c-w: 100%; --c-p: 10px; --lines: 6; --l-h: 0.8rem; --l-gap: 14px;">
                </div>
              </div>
              <div class="py-4" style="border-top: 1px solid #eceeef;">
                <div class="skeleton skeleton-circle-multi-line"
                  style="--c-s: 40px; --c-pos: top; --c-w: 100%; --c-p: 10px; --lines: 6; --l-h: 0.8rem; --l-gap: 14px;">
                </div>
              </div>
              <div class="py-4" style="border-top: 1px solid #eceeef;">
                <div class="skeleton skeleton-circle-multi-line"
                  style="--c-s: 40px; --c-pos: top; --c-w: 100%; --c-p: 10px; --lines: 6; --l-h: 0.8rem; --l-gap: 14px;">
                </div>
              </div>
              <div class="py-4" style="border-top: 1px solid #eceeef;">
                <div class="skeleton skeleton-circle-multi-line"
                  style="--c-s: 40px; --c-pos: top; --c-w: 100%; --c-p: 10px; --lines: 6; --l-h: 0.8rem; --l-gap: 14px;">
                </div>
              </div>
              <div class="py-4" style="border-top: 1px solid #eceeef;">
                <div class="skeleton skeleton-circle-multi-line"
                  style="--c-s: 40px; --c-pos: top; --c-w: 100%; --c-p: 10px; --lines: 6; --l-h: 0.8rem; --l-gap: 14px;">
                </div>
              </div>
              <div class="py-4" style="border-top: 1px solid #eceeef;">
                <div class="skeleton skeleton-circle-multi-line"
                  style="--c-s: 40px; --c-pos: top; --c-w: 100%; --c-p: 10px; --lines: 6; --l-h: 0.8rem; --l-gap: 14px;">
                </div>
              </div>
              <div class="py-4" style="border-top: 1px solid #eceeef;">
                <div class="skeleton skeleton-circle-multi-line"
                  style="--c-s: 40px; --c-pos: top; --c-w: 100%; --c-p: 10px; --lines: 6; --l-h: 0.8rem; --l-gap: 14px;">
                </div>
              </div>
              <div class="py-4" style="border-top: 1px solid #eceeef;">
                <div class="skeleton skeleton-circle-multi-line"
                  style="--c-s: 40px; --c-pos: top; --c-w: 100%; --c-p: 10px; --lines: 6; --l-h: 0.8rem; --l-gap: 14px;">
                </div>
              </div>
              <div class="py-4" style="border-top: 1px solid #eceeef;">
                <div class="skeleton skeleton-circle-multi-line"
                  style="--c-s: 40px; --c-pos: top; --c-w: 100%; --c-p: 10px; --lines: 6; --l-h: 0.8rem; --l-gap: 14px;">
                </div>
              </div>
              <div class="py-4" style="border-top: 1px solid #eceeef;">
                <div class="skeleton skeleton-circle-multi-line"
                  style="--c-s: 40px; --c-pos: top; --c-w: 100%; --c-p: 10px; --lines: 6; --l-h: 0.8rem; --l-gap: 14px;">
                </div>
              </div>
              <div class="py-4" style="border-top: 1px solid #eceeef;">
                <div class="skeleton skeleton-circle-multi-line"
                  style="--c-s: 40px; --c-pos: top; --c-w: 100%; --c-p: 10px; --lines: 6; --l-h: 0.8rem; --l-gap: 14px;">
                </div>
              </div>
              <div class="py-4" style="border-top: 1px solid #eceeef;">
                <div class="skeleton skeleton-circle-multi-line"
                  style="--c-s: 40px; --c-pos: top; --c-w: 100%; --c-p: 10px; --lines: 6; --l-h: 0.8rem; --l-gap: 14px;">
                </div>
              </div>
              <div class="py-4" style="border-top: 1px solid #eceeef;">
                <div class="skeleton skeleton-circle-multi-line"
                  style="--c-s: 40px; --c-pos: top; --c-w: 100%; --c-p: 10px; --lines: 6; --l-h: 0.8rem; --l-gap: 14px;">
                </div>
              </div>
              <div class="py-4" style="border-top: 1px solid #eceeef;">
                <div class="skeleton skeleton-circle-multi-line"
                  style="--c-s: 40px; --c-pos: top; --c-w: 100%; --c-p: 10px; --lines: 6; --l-h: 0.8rem; --l-gap: 14px;">
                </div>
              </div>
              <div class="py-4" style="border-top: 1px solid #eceeef;">
                <div class="skeleton skeleton-circle-multi-line"
                  style="--c-s: 40px; --c-pos: top; --c-w: 100%; --c-p: 10px; --lines: 6; --l-h: 0.8rem; --l-gap: 14px;">
                </div>
              </div>
            </div>
            <main id="content-messages">
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="modal-search-results" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p id="modal-search-results-title" class="modal-card-title"></p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div id="hits"></div>
      </section>
      <footer class="modal-card-foot">
      </footer>
    </div>
  </div>

  <script data-search-pseudo-elements src="https://kit.fontawesome.com/6e15d9b0fb.js" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.12.1/dist/algoliasearch.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.38.1/dist/instantsearch.production.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-plugin-query-suggestions"></script>

  <script src="https://unpkg.com/virtual-scroller@1.x/bundle/virtual-scroller-dom.js"></script>
  <script src="https://unpkg.com/page/page.js"></script>

  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/highlight.min.js"></script>

  <script>
    /* beautify ignore:start */
    window.channelDateIndex = <%~ it.dateIndex %>;
    /* beautify ignore:end */
  </script>

  <script src="/js/app.js<%= it.cb %>"></script>
  <script src="/js/router.js<%= it.cb %>"></script>
  <script src="/js/discord.js<%= it.cb %>"></script>
  <script src="/js/search.js<%= it.cb %>"></script>
  <script src="/js/protected_channel.js<%= it.cb %>"></script>
</body>

</html>