:root {
  --aa-search-input-height: 2rem;
  --aa-detached-modal-max-height: 80vh;
}

.aa-DetachedContainer--modal {
  max-width: 60vw;
}

.aa-Form {
  border: 1px solid hsl(0, 0%, 86%);
}

.aa-SubmitButton {
  padding-top: 4px;
}

.aa-Panel--scrollable {
  max-height: 80vh;
}

.aa-PanelLayout {
  max-height: 80vh;
}

.aa-Item[aria-selected="true"] {
  background-color: hsl(219, 70%, 96%);
}

.search-results-item:hover {
  background-color: hsl(219, 70%, 96%);
  color: #363636;
  cursor: pointer;
}

.aa-Autocomplete:after {
  content: "";
  background: 50% / contain no-repeat
    url(https://cihost.uberflip.com/algolia/OB-3845/build/assets/images/icon-search-logo.svg);
  position: absolute;
  top: 16px;
  right: 26px;
  width: 120px;
  height: 16px;
  pointer-events: none;
}

.aa-InputWrapper:after {
  content: "";
  background: 50% / contain no-repeat
    url(https://cihost.uberflip.com/algolia/OB-3845/build/assets/images/icon-search-logo.svg);
  position: absolute;
  bottom: 6px;
  right: 18px;
  width: 120px;
  height: 16px;
  pointer-events: none;
}

#submit-button {
  min-width: 68px;
}
