a:hover {
  text-decoration: none;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: hsl(0, 0%, 71%);
}

.menu-list a:hover {
  background-color: hsl(206, 70%, 96%);
  color: #363636;
}

.menu-list a.is-active:hover {
  background-color: #485fc7;
  color: #fff;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.2);
}

.modal-card-foot,
.modal-card-head {
  padding: 10px 20px;
}

.modal-card-body {
  padding: 0 10px;
}

.modal-card,
.modal-content {
  width: 60vw;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

details > li {
  padding-bottom: 0.5em;
}

details > summary {
  list-style-type: none;
  cursor: pointer;
  color: #4a4a4a;
  padding-bottom: 0.5em;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::after {
  font: var(--fa-font-solid);
  content: "\f0da";
  display: none;
}

details[open] > summary::after {
  font: var(--fa-font-solid);
  content: "\f0d7";
  display: none;
}

.menu-list details > li {
  padding: 0;
}
.menu-list details > li > a {
  padding: 4px 8px 4px 8px;
  font-size: 0.88rem;
}

.fa-f0da,
.fa-f0d7 {
  padding-left: 4px;
}
