:root {
  --aa-search-input-height: 2rem;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.2);
}

.modal-card-foot,
.modal-card-head {
  padding: 10px 20px;
}

.modal-card-body {
  padding: 0 10px;
}

.modal-card,
.modal-content {
  width: 60vw;
}
