a:hover {
  text-decoration: none;
}

:root {
  --aa-search-input-height: 2rem;
}

.menu-list a:hover {
  background-color: hsl(206, 70%, 96%);
  color: #363636;
}

.menu-list a.is-active:hover {
  background-color: #485fc7;
  color: #fff;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.2);
}

.modal-card-foot,
.modal-card-head {
  padding: 10px 20px;
}

.modal-card-body {
  padding: 0 10px;
}

.modal-card,
.modal-content {
  width: 60vw;
}

.aa-Form {
  border: 1px solid hsl(0, 0%, 86%);
}

.search-results-item:hover {
  background-color: hsl(219, 70%, 96%);
  color: #363636;
  cursor: pointer;
}
